<%= flash[:notice] %>
<h1>All Athletes</h1>
<table BORDER="5">  
  <thead>
    <TH COLSPAN="2">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>College</th>
      <th>City</th>
      <th>Hometown</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Number</th>
      <th>High School</th>
      <th>Active Seasons</th>
      <th>Region</th>
      <th>Position</th>
      <th>Bio</th>
      <th>Misc</th>
    </tr>
  </thead>
  <tbody>
    <% @students.limit(10).each do |student| %>
      <tr>
        <td><%= student.student_id %></td>
        <td><%= student.name %></td>
        <td><%= student.college %></td>
        <td><%= student.city %></td>
        <td><%= student.hometown %></td>
        <td><%= student.read_attribute("wt.")%></td>
        <td><%= student.read_attribute("ht.") %></td>
        <td><%= student.read_attribute("no.") %></td>
        <td><%= student.read_attribute("high school") %></td>
        <td><%= student.read_attribute("active seasons") %></td>
        <td><%= student.region %></td>
        <td><%= student.position %></td>
        <td><%= student.bio %></td>
        <td><%= student.misc %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <h4>Import Athletes Data</h4>
    <%= form_tag students_import_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
    <% end %>
</div>
